* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.nav{
    justify-content: space-between;
    align-items: center;
}
.nav img{
    width: 5rem;
}
.link ul{
   display: flex;
   justify-content: center;
   align-items: center;
   list-style: none;
   margin-top: 20px;
}

.link li a{
    margin: 20px;
    text-decoration: none;
    color: #000;
    font-size: 15px;
    font-weight: 100;
}

.link-1 ul{
  margin-top: 20px;
 }

 .link-1 li{
     list-style: none;
     padding-right: 30px;
 }

.link-1 li a{
    text-decoration: none;
    color: #000;
    font-weight: 100;
}
.alert-content{
    min-height: 3.625rem;
    display: flex;
    justify-content: center;
    
}
.text-center {
    color: #fff;
    background-color:#0067b8;
    cursor: pointer;
    
}
.text-center p{
    margin-top: 20px;
    font-weight: bold;
}
.card-foreground {
    position: absolute;
    top:30%;
    padding: 30px 0px;
    font-weight: 400;
}
.card-foreground  h1{
padding-bottom: 40px;
padding-left: 60%;
color: black;
    
}
.card-foreground  p{
    padding-bottom: 40px;
    padding-left: 60%;
    color: black;
        
    }
.card-foreground button {
    margin-left: 60%;
}
/* footer */

.cards {
     font-size: 15px;
     display: flex;
     padding-left: 8rem;
}
.cards .card1 {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    font-weight: 100;
}
.card1 h5{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
}
.cards .card1{
    margin: 20px;
}
.cards .card1 a{
   text-decoration: none;
   color: #000;
   margin-top: 10px;
}
.cards .card1 a:hover{
    text-decoration: underline;
}
footer {
   background-color: #f2f2f2;
}

.footer_row {
   display: flex;
   justify-content: space-between;
   font-size: 12px;
   padding-bottom: 1rem;
   font-weight: 100;
}


.footer_row .fw-1{
    padding-left: 10.9%;
    padding-top: 10px;
}

.footer_row .fw-2 {
    display: flex;
    padding-right: 8rem;
}

.footer_row .fw-1:hover{
    text-decoration: underline;
}

.footer_row .fw-2 a{
    text-decoration: none;
    padding: 10px;
    color: #000;
}

.footer_row .fw-2 a:hover{
    text-decoration: underline;
}

